.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    min-height: calc(100vh - 200px);
  }
  
  .reset-password-container {
    width: 450px;
    background-color: #fff0ea;
    padding: 40px 30px;
    color: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-bottom: 4px;
  }
  
  .subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #black;
    margin-top: -30px;     /* 👈 Giảm khoảng cách trên */
    margin-bottom: 20px;   /* 👈 Khoảng cách dưới giữ nguyên */
  }
  
  

  .reset-password-container h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  
    background: linear-gradient(to right, #ff9800, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  
  .reset-password-container input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
  }
  
  .reset-password-container button {
    padding: 12px;
    background-color: #ff4d30;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .reset-password-container button:hover {
    background-color: #e8432e;
  }
  